body {
    margin: 0;
    background: #e5e1ed;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 0;
}

.container {
    display: block;
    max-width: 900px;
    min-width: 500px;
    padding-top: 120px;
    margin: auto;
}

h3 {
    padding: 14px;
    font-size: 20px;
}

p {
    margin: 0;
    color: white;
}

.background {
    color: #d1cdd9;
    max-width: 100%;
}

.button {
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 -0.25em 0 0 rgba(34, 36, 38, .15) inset;
    position: relative;
}

.button::after {
    opacity: 0;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.4s ease;
    font-size: 13px;
    font-weight: 700;
    background-color: #353535;
    content: attr(data-tooltip);
    position: absolute;
    width: 100px;
    padding: 5px;
    box-shadow: 0 0 4px #959595;
    bottom: 140%;
    left: 50%;
    margin-left: -50px;
    border-radius: 3px;
    transform: scale(0);
    color: white;
}

.button:hover::after {
    opacity: 1;
    transform: scale(1);
}

.add {
    float: right;
    background-color: #477eff;
    border: none;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0;
    width: 15%;
    height: 30px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.add:hover {
    background-color: #1a649d;
}

.add:active {
    background-color: #175a8a;
}

.input {
    cursor: text;
    display: inline-block;
    box-sizing: border-box;
    width: 85%;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 0.5em;
    text-indent: 10px;
    font-size: small;
    height: 30px;
}

.segment {
    padding: 10px;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.items-bought {
    border: none;
}

.form {
    border-bottom: none;
}

.inner {
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 5px #d1cdd9;
}

.left {
    float: left;
    box-sizing: border-box;
    padding: 15px;
    width: 68%;
}

.right {
    box-sizing: border-box;
    float: right;
    width: 30%;
    padding: 15px;
}

.element-of-list {
    border-radius: 0;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 0;
}

.text {
    padding: 5px;
    color: black;
}

.label {
    display: inline-block;
    padding: 0;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6)
}

.product {
    display: inline-block;
    padding: 5px 7px 5px 7px;
    border-radius: 3px;
    background: #e5e1ed;
    font-size: small;
    margin: 2px;
}

.cirrcle-counter {
    color: white;
    display: inline-block;
    border-radius: 500rem;
    background: orange;
    padding: 2px 6px;
    text-align: center;
}

.name-cell {
    padding: 14px;
    display: inline-block;
    font-size: small;
    color: black;
    box-sizing: border-box;
    width: 25%;
}

.name {
    display: inline-block;
    font-size: small;
    color: black;
    width: 25%;
}

.central-cell {
    display: inline-block;
    box-sizing: inherit;
    text-align: center;
    width: 37.5%;
    padding: 10px;
}

.right-cell {
    display: inline-block;
    width: 37.5%;
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
}

.bought {
    background: #e5e1ed;
    border: none;
    color: black;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 3px;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
}

.bought:hover {
    background-color: #c4c0cc;
}

.bought:active {
    background-color: #93909a;
}

.delete-button {
    background: red;
    border: none;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 3px;
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
}

.delete-button:hover {
    background: #ff6149;
}

.delete-button:active {
    background: #ca553f;
}

.round {
    border: none;
    margin: 3px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
}

.plus {
    background-color: green;
    color: white;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
}

.plus:hover {
    background-color: #5bde4c;
}

.plus:active {
    background-color: #5bc54c;
}

.button.minus {
    background-color: #ff6149;
    color: white;
    font-weight: 900;
    font-size: 12px;
}

.minus:hover {
    background-color: #ff6149;
}

.minus:active {
    background-color: #ff6149;
}

.quantity-counter {
    padding: 5px 10px 5px 10px;
    display: inline;
    color: black;
    font-size: small;
    width: 5px;
    height: 5px;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #e5e1ed;
    color: rgba(0, 0, 0, 0.6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: 3px;
}

@media (max-width: 700px) {
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
}

@media print {
    .budge {
        background-color: white;
        color: black;
        border: 1px solid black;
        bottom: -100px;
    }

    .buylist {
        display: none;
    }

    .created {
        font-size: 20px;
    }
}

.budge {
    background-color: darkviolet;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 30px;
    text-align: center;
    padding: 15px;
    font-weight: 700;
    width: 120px;
    height: 150px;
    position: fixed;
    bottom: -120px;
    left: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 1s all ease;
}

.budge:hover {
    background-color: blueviolet;
    bottom: -25px;

}

.created {
    font-size: 18px;
}